<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      

      <div class="ui three column centered grid">
        <form class="ui form">
        <div class="ui top attached label">Login To Dashboard</div>
        <br><br>
        <div class="field">
        <label>Name</label>
          <input type="text" name="name" placeholder="Name...">
        </div>
        <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password...">
        </div>
          <button class="ui inverted orange button" type="submit">Login</button>
      </form>
      </div>


      <p class="notice><%=notice%></p>
      <p class="alert"><%=alert%></p>
    <%= yield %>
  </body>
</html>



