<table class="ui selectable celled table">
  <thead>
    <tr>
    <th>#</th>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Course ID</th>
    <th>Teacher ID</th>
    <th>Delete</th>
    </tr>
  </thead>
  <tbody>

  <% @cohorts.each_with_index do |cohort, index| %> 
    <tr id="cohort-<%= cohort.id %>">
      <td><%=index+1%></td>
      <td><%=link_to cohort.name, cohort_path(cohort)%></td>
      <td><%=cohort.start_date.to_s%></td>
      <td><%=cohort.end_date.to_s%></td>
      <td><%=cohort.course_id.to_s%></td>
      <td><%=cohort.teacher_id.to_s%></td>
      <td> <%= link_to 'Destroy', cohort_path(cohort), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end%>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="6">
        <%= link_to "Add Cohort", new_cohort_path(@cohort), :class=> "ui inverted orange button", data: { turbolinks: false }%>
        </div>  
      </th>
    </tr>
  </tfoot>
</table>
