<div class="ui three column centered grid">
  <div class="ui form">
  <div class="ui top attached label">New Cohort Form</div>
  <br><br>
    <div class="field">
      <%= form_with model: Cohort.new do |form| %>
    </div>
    
    <div class="field">
    <%= form.text_field :name, placeholder: "Name"%>
    </div>

    <div class="field">
    <%= form.text_field :start_date, placeholder: "Start Date"%>
    </div>

    <div class="field">
    <%= form.text_field :end_date, placeholder: "End Date"%>
    </div>

    <div class="field">
    <%= form.text_field :course_id, placeholder: "Course ID"%>
    </div>

    <div class="field">
    <%= form.text_field :teacher_id, placeholder: "Teacher ID"%>
    </div>

    <div class="field">
    <%= form.submit "Create Cohort",  class:"ui inverted orange button" %>  
    </div>

  <% end %>
    </div>
  </div>
</div>