<div class="ui three column centered grid">
  <div class="ui form">
    <div class="field">
    <div class="ui top attached label">New Cohort Information</div>
    <br><br>
      <%= form_with model: Cohort.new do |form| %>
    </div>
    
    <div class="field">
      <%= form.text_field :name, placeholder: "Name"%>
    </div>
    
    <div class="field">
      <%= form.text_field :hours, placeholder: "Hours"%>
    </div>

    <div class="field">
    <%= form.date_field :start_date, placeholder: "Start Date"%>
    </div>


    <div class="field">
    <%= form.date_field :end_date, placeholder: "End Date"%>
    </div>

    <div class="field">
    <p>Select Course's Name</p>
    <%= form.select :course_name, (@courses_names)%>
    </div>

    <div class="field">
    <p>Select Teacher's ID</p>
    <%= form.select :teacher_id, (@teachers_id)%>
    </div>
    
    <div class="field">
    <%= form.submit "Create Cohort",  class:"ui inverted orange button" %>
    <%= link_to  "Go back", cohorts_path(@cohorts),  class:"ui inverted orange button" %>
    </div>  
      <% end %>
    </div>
  </div>
</div>