<script>
$('.message').fadeOut(0);
setTimeout("$( '#message' ).fadeOut(4000)",100)
</script>


<div class="ui three column centered grid">
    <div class="ui form">
    <div class="field">
    <div class="ui top attached label">Cohort Information</div>

    <% if flash[:notice] %>
    <div id="message"><%= notice%></div>
    <%end%>

    <br><br>
    <%= form_with model: @cohort  do |form| %>
    <%= form.text_field :name, value:"Name: " + @cohort.name %>
    </div>

    <div class="field">
    <%= form.text_field :start_date, value:"Start Date: " + @cohort.start_date.to_s %>
    </div>
    <div class="field">
    <%= form.text_field :end_date, value:"End Date: " + @cohort.end_date.to_s %>
    </div>
    <div class="field">
    <%= form.text_field :course_id, value:"Course ID: " + @cohort.course_id.to_s %>
    </div>
    <div class="field">
    <%= form.text_field :teacher_id, value:"Teacher ID: " + @cohort.teacher_id.to_s %>
    </div>
    <%=link_to "Edit", edit_cohort_path(@cohort), :class=> "ui inverted orange button", data: { turbolinks: false }%>
    <%= link_to  "Go back", cohorts_path(@cohorts),  class:"ui inverted orange button" %>
    <%end%>
  </div>
  </div>
  </div>
</div>




<div id="cohorts">
<h1 id="students">Students</h1>
  <table class="ui very basic collapsing celled table">
    <thead> 
      <th>First Name</th>
      <th>Last Name</th>
      <th>Student ID</th>
    
    </thead>

    <tbody>
    <% @students.each_with_index do |student, index| %> 
      <tr>
        <td>
            <div class="content">
            <%=link_to student.first_name, student_path(student)%>
            <td><%=student.last_name%></td>
            </div>
          </div>
        </h4></td>
        <td>
        <%=student.id%>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>