<table class="ui compact celled definition table">
  <thead class="full-width">
    <tr>
    <th></th>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Password</th>
    <th>Cohort ID</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %> 
    <tr>
      <td class="collapsing">
        <div class="ui fitted slider checkbox"> 
          <input type="checkbox"><label></label>
        </div>
      </td>
      <td><%=link_to student.first_name + " " +student.last_name, student_path(student)%></td>
      <td><%=student.age%></td>
      <td><%=student.email%></td>
      <td><%=student.password%></td>
      <td><%=student.cohort_id%></td>
    </tr>
    <% end%>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="5">
          <%=link_to "Add Student", new_student_path(@student), :class=> "ui inverted blue button"%>
        </div>  
      </th>
    </tr>
  </tfoot>
</table>

