<div class="ui three column centered grid">
    <div class="ui form">
    <div class="field">
    <div class="ui top attached label">Edit Teacher Information</div>
    <br><br>
    <%= form_with model: @teacher  do |form| %>
    
    <%= form.text_field :first_name, placeholder:"First name: "+ @teacher.first_name %>
    </div>
    <div class="field">
    <%= form.text_field :last_name, placeholder:"Last name: " + @teacher.last_name %>
    </div>

    <div class="field">
    <%= form.text_field :age, placeholder:"Age: " + @teacher.age.to_s %>
    </div>

    <div class="field">
    <%= form.text_field :salary, placeholder:"Salary: $" + @teacher.salary.to_s%>
    </div>

    <div class="field">
    <%= form.text_field :education, placeholder:"Education: " + @teacher.education%>
    </div>

    <div class="field">
    <%= form.text_field :email, placeholder:"Email: " + @teacher.email%>
    </div>

    <div class="field">
    <%= form.text_field :password, placeholder:"Password: " + @teacher.password%>
    </div>
    
    <%= form.submit "Save",  class:"ui inverted orange button" %>
    <%end%>
  </div>
  </div>
  </div>
</div>