<script>
setTimeout("$('#alert').fadeOut(4000)",100);
</script>

<div class="ui three column centered grid">
  <div class="ui form">
  <div class="ui top attached label">New Teacher Form</div>
  <div id="alert"><%=alert%></div>
  <br><br><br>
    <div class="field">
      <%= form_with model: Teacher.new do |form| %>
      <%= form.text_field :first_name, placeholder: "Enter First Name"%>
    </div>

    <div class="field">
    <%= form.text_field :last_name, placeholder: "Enter Last Name"%>
    </div>

    <div class="field">
    <%= form.text_field :age, placeholder: "Enter Age"%>
    </div>

    <div class="field">
    <%= form.text_field :salary, placeholder: "Enter Salary"%>
    </div>

    <div class="field">
    <%= form.text_field :education, placeholder: "Education"%>
    </div>

    <div class="field">
    <%= form.text_field :email, placeholder: "Email"%>
    </div>

    <div class="field">
    <%= form.text_field :password, placeholder: "Password"%>
    </div>
     
   
  
    <%= form.submit "Create Teacher",  class:"ui inverted orange button" %>
    <%= link_to  "Go back", teachers_path(@teachers),  class:"ui inverted orange button" %>
  <% end %>
  </div>
  </div>
  </div>
</div>

