<div class="ui three column centered grid">
  <div class="ui form">
    <div class="field">
    <div class="ui top attached label">New Course Information</div>
    <br><br>
      <%= form_with model: Course.new do |form| %>
    </div>
    
    <div class="field">
      <%= form.text_field :name, placeholder: "Name"%>
    </div>
    
    <div class="field">
      <%= form.text_field :hours, placeholder: "Hours"%>
    </div>
    
    <div class="field">
    <%= form.submit "Create Course",  class:"ui inverted orange button" %>
    <%= link_to  "Go back", courses_path(@courses),  class:"ui inverted orange button" %>
    </div>  
      <% end %>
    </div>
  </div>
</div>
